.finished {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    .or {
        font-family: "Inter";
        font-style: normal;
        font-weight: 200;
        font-size: 24px;
    }
}
